button {
    padding: 14px;
    color: black;
    border-radius: 5px;
    display: block;
    width: 100%;
    font-size: 14px;
}

button.primary {
    background-color: @hegexgreen;
    color: black;
}

button.secondary {
    color: black;
    background-color: @hegexseablue;
}
