@blue: #2c398f;
@bcblue: #47608e;
@lightblue: #e5fefe;
@aqua: #7cf8fa;
@green: #23fdd8;
@darkerGreen: #26C485;
@violet: #df40fa;
@darkgrey: #070a0e;
@danger: #841617;
//hegex colors:
@deepblue:#070a0e;
@hegexbg:#00183C;
@hegexgreen: #4FFF7C;
@hegexlightgreen: #e1ffe1;
@hegexseablue: #18D7FF;
@hegexorange: #FFD44F;
@hegexdeepblue:#00183C;
