

/* Reset Select */
.hegex-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  padding-left: 0.5em;
  outline: 0;
  box-shadow: none;
  border: 2px solid cyan;
  background: transparent;
  color: inherit;
  position: relative;
  display: inline-block;
  min-height: 1em;
  width: 100%;
  line-height: 3;
  overflow: hidden;
  border-radius: .25em;
}




.little-arrow {
  color: navy;
  display: flex;
  justify-content: center;
  align-items: top;
  line-height: 1.5;
  background-color: cyan;
  border-radius: 50%;
  position: absolute;
  top: 0.6em;
  z-index: 89;
  right: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.hinput-wrapper {
    position:relative;
}
.hinput-label {
    position: absolute;
    top: 1em;
    right: 20px;
}
