.box-grid {
  display: grid;
  grid-template-columns: 18% 10% 18% auto;
  grid-gap: 1rem;
}
.box {
  border-radius: 5px;
  padding: 20px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 150%;
}
@media (max-width: 784px) {
.box-grid {
grid-auto-flow: dense;
grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}
.box-grid-new {
  display: grid;
  grid-template-columns: 18% 10% 18% auto 15%;
  grid-gap: 1rem;
}

#buy-order {
display: flex;
margin-left: auto;
justify-content: flex-end;
align-items: flex-end;
}
@media (max-width: 784px) {
.box-grid-new {
grid-auto-flow: dense;
grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}


@media (max-width: 500px) {
#buy-order {
display: block;
}

#buy-order * {
width: 100%;
margin-right: 0px;

}
}


.box-grid-weth {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}
@media (max-width: 784px) {
.box-grid-weth {
grid-auto-flow: dense;
grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

.weth-wrapper {
.xs {
font-size: 0.8em;
}

.caption {
  font-size: 0.9em;
}
}
