.hegex-select {
    position: relative;
/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  background: transparent;
  color: inherit;
  border: none;
}
select.primary {
  border: 2px solid @hegexgreen;
}

select.yellow {
  border: 2px solid @hegexorange;
}

select.secondary {
  border: 2px solid @hegexseablue;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  min-height: 1em;
  overflow: hidden;
  font-size: 15px;
  border-radius: .25em;
}
select {
  flex: 1;
  position: relative;
  padding: 11px;
  cursor: pointer;
  color: inherit;
}
/* Arrow */
/* Transition */

}
.night {
  .hegex-select {
    color: white;
  }
}

.hegex-select.small {
/* Reset Select */
/* Custom Select */
  display: inline-block;
.select {
  font-size: 12px;
}

select {
  padding: 11px;
  padding-right: 40px;
}
/* Arrow */
/* Transition */

}


.little-arrow {
  color: black;
  display: flex;
  justify-content: center;
  align-items: top;
  line-height: 1;
  border-radius: 50%;
  position: absolute;
  top: 0.7em;
  z-index: 89;
  right: 10px;
  width: 22px;
  height: 22px;
  font-size: 15px;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.little-arrow.primary {
  background-color: @hegexgreen;
}

.little-arrow.secondary {
  background-color: @hegexseablue;
}

.little-arrow.yellow {
  background-color: @hegexorange;
}
